@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Crimson Text", serif;

  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0 1rem;
  line-height: 1.3rem;
  margin: 0;
}

article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
}

article header {
  border-bottom: 1px solid #999;
}

article header p {
  font-style: italic;
}

article > p:last-child {
  border-bottom: 1px solid #999;
  padding-bottom: 1.5rem;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
  text-align: left;
  margin: 1.4rem 0 1.5rem;
  padding: 0;
  line-height: 1.4rem;
  hanging-punctuation: first;
}

.quote {
  color: #999;
}

h1 {
  margin: 1.7rem 0 .25rem;
}

article p {
  margin: 0 0 1.3rem;
}

header {
  margin: 0 0 1.3rem;
}

article ol {
  margin-left: -1.5rem;
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  p {
    margin-bottom: 1.4rem;
    padding-bottom: .6rem;
  }

  h1 {
    margin: 1.8rem 0 .5rem;
  }

  blockquote {
    padding-left: 3rem;
    margin: -.25rem 0 1.5rem;
  }

  ol {
    margin-left: -1.4rem;
    margin-bottom: 1.5rem;
    margin-top: -.5rem;
    line-height: 1.38rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  p {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
  }

  body {
    padding: 0 4.5rem;
  }

  h1 {
    margin: 2rem 0 .6rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
